
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Hazırlanıyor";
}

    <main id="main">


        <section id="features" style="margin-top:2em;margin-bottom:28vh;">
            <div class="container">
                <div class="row feature-item">
                    <div class="col-lg-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><img alt="iletisim" class="img-responsive" src="~/UploadImages/bakim-1.jpg"></div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pb-5 pt-lg-0" style="visibility: visible; animation-name: fadeInUp;">
                        <h1>Sayfamız Hazırlanıyor ..</h1>
                        <h4>Lütfen daha sonra tekrar deneyiniz</h4>


                    </div>
                </div>
            </div>
        </section>
    </main>